.container {
    margin: 0 auto 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.example-card {
    background-color: rgb(255, 255, 255);
    color: black;
    margin-right: 10px;
}

.button {
    margin-right: 5px;
    background-color: #424242;
}

.image {
    max-width: 300px;
}

.example-spacer {
    flex: 1 1 auto;
}